{% extends 'base.html.twig' %}

{% block title %}eReolen widget{% endblock %}
 
{% block body %}
    <div class="container-fluid">
        <topnav></topnav>
        <widget></widget>
    </div>
{% endblock %}