{% extends 'base.html.twig' %}

{% block title %}Byg din eReolen widget{% endblock %}

{% block body %}
    {% if widget|default(null) %}
        <script type="application/json" id="app-widget-data">
            {{ {
                id: widget.id,
                title: widget.title,
                content: widget.content,
                createdAt: widget.createdAt,
                updatedAt: widget.updatedAt
                }|json_encode|raw }}
        </script>
    {% endif %}
    {# Get url with {id} placeholder. #}
    {% set widgetEmbedUrl = absolute_url(path('widget_embed', {'id': '{id}'})|replace({('{id}'|url_encode): '{id}'})) %}
    {% set configuration = {
        widgetEmbedUrl: widgetEmbedUrl
        } %}


    <div id="app" data-configuration="{{ configuration|json_encode }}">
        <div class="container-fluid">
            <topbar></topbar>
            <app></app>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
