{% extends 'base.html.twig' %}

{% block title %}Byg din eReolen widget{% endblock %}
 
{% block body %}
    <div class="container-fluid">
        <topbar></topbar>
        <app></app>
    </div>
{% endblock %}