.content-search {
    margin-bottom: $spacer*1.5;
    &-results {
        padding-top: $spacer;
        margin-bottom: $spacer*1;
        .result {
            background-color: $gray-200;
            background-size: contain;
            background-position: top center;
            display: block;
            min-height: 100%;
            @include media-breakpoint-up(sm) {
                min-height: 220px;
            }
            height: 100%;
            position: relative;
            box-shadow: 0 0 0 rgba(0,0,0,0);
            cursor: pointer;
            @include transition(box-shadow, .2s, ease-out);
            &:before {
                content: "";
                width: 100%;
                position: absolute;
                bottom: 30%;
                height: 15%;
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 100%);
            }
            &-image {
                width: 100%;
            }
            &-action {
                border-radius: 50%;
                background-color: $gray-300;
                color: $green;
                width: 3rem;
                height: 3rem;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                bottom: calc(35% - 1.5rem);
                left: calc(50% - 1.5rem);
                @include transition(bottom, .4s, ease-in);
            }
            &-title {
                background-color: $white;
                color: $gray-900;
                font-size: .7rem;
                padding: .5rem;
                position: absolute;
                bottom: 0;
                height: 35%;
                width: 100%;
                overflow: hidden;
                border-bottom: .5rem solid $white;
                p {
                    margin: 0;
                }
                @include media-breakpoint-down(sm) {
                    font-size: .5rem;
                }
            }
            &:hover {
                box-shadow: 0 .4rem 1.6rem rgba(0,0,0,.16);
                @include transition(box-shadow, .2s, ease-out);
                &-action {
                    background-color: $danger;
                    bottom: calc(32% - 1.5rem);
                    @include transition(bottom, .2s, ease-out);
                }
            }
        }
        &.added {
            hr {
                border-color: $gray-300;
            }
            .result {
                &-action {
                    color: $danger;
                }
            }
        }
    }
}
