.widget-preview {
    min-height: 10rem;
    margin-bottom: $spacer;
    padding: $spacer;
    &.default {
        background-color: $danger;
        color: $white;
        margin: $spacer;
        padding: $spacer;
    }
}
