/* Bootstrap variable overrides */

/* stylelint-disable color-no-hex */
$white:    #fff;
$gray-100: #f0f0f0;
$gray-200: #eaeaea;
$gray-300: #e6e6e6;
$gray-400: #dfdfdf;
$gray-500: #c4c4c4;
$gray-600: #818181;
$gray-700: #616161;
$gray-800: #313131;
$gray-900: #212121;
$black:    #000;

$grays: ();
$grays: map-merge((
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
), $grays);

// Set default colors
$white:                             #ffffff;
$black:                             #333333;
$pink:                              #ee0043;
$purple:                            #673ab7;
$blue:                              #3661d8;
$navy:                              #2b3ba2;
$petroleum:                         #008486;
$green:                             #95b978;
$yellow:                            #ffe13d;
$orange:                            #ff5f31;
$red:                               #d32f2f;
$danger:                            #b81b40;

// Set primary color
$primary: $blue;

// Set primary color
$secondary: $black;
/* stylelint-enable */

// Set default font
$font-family-sans-serif:      "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family:        $font-family-sans-serif;

$spacer: 1rem;

$headings-margin-bottom:      $spacer;
$headings-margin-top:         $spacer;

$font-size-base: 1rem;
$lead-font-size: 1.3rem;
$lead-font-weight: 400;

$headings-font-weight:        600;

$h1-font-size:                $font-size-base * 2.2;
$h2-font-size:                $font-size-base * 1.4;
$h3-font-size:                $font-size-base * 1.2;
$h4-font-size:                $font-size-base * 1.1;
$h5-font-size:                $font-size-base * 1.0;
$h6-font-size:                $font-size-base;


$border-radius:               .25rem;
$border-radius-lg:            $border-radius;
$border-radius-sm:            $border-radius;

@import "~bootstrap/scss/bootstrap";

/* Import components */
@import "mixin";
@import "main";
@import "nav";
@import "topbar";
@import "sidebar";
@import "forms";
@import "widget-preview";
@import "code-preview";
@import "content-search";
@import "alert";

/* Custom styles */

/*
** Set html, body height 100%;
*/
html, body {
    height: 100%;
    background-color: $white;
}

h1 {
    font-weight: 200;
}
