/* Import slick carousel styling */
@import "_slick.scss";

/*
* Styles only used for the vue widget component.
*/

/*
** Define colors
*/

/* stylelint-disable */
$color-white: #fff;
$color-danger: #b81b40;
$theme-light-bg-color: #f0f0f0;
$theme-light-text-color: #212121;
$theme-dark-bg-color: #212121;
$theme-dark-text-color: $color-white;
$border-color: #b4b4b4;
$text-color-gray-500: #505050;
/* stylelint-enable */

/*
** Define sizes
*/

$spacer: 1rem;

/*
** Define themes
*/

$themes: (
    light: (
        backgroundColor: $theme-light-bg-color,
        textColor: $theme-light-text-color,
        btnColor: $color-danger
    ),
    dark: (
        backgroundColor: $theme-dark-bg-color,
        textColor: $theme-dark-text-color,
        btnColor: $color-danger
    ),
);

/*
** Define mixins
*/

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {

        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }

    }
}
@function themed($key) {
    @return map-get($theme-map, $key);
}

body, html, #widget {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.er-widget {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: $spacer;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include themify($themes) {
        background-color: themed("backgroundColor");
        color: themed("textColor");
    }
    &-top, &-main, &-bottom {
        display: flex;
    }
    &-top {
        flex-shrink: 0;
        width: 100%;
        justify-content: center;
        padding-top: $spacer/4;
        padding-bottom: $spacer/4;
    }
    &-main {
        overflow: hidden;
        flex: 1 1 auto;
    }
    &-bottom {
        flex-shrink: 0;
        width: 100%;
        justify-content: center;
        padding-top: $spacer/2;
        padding-bottom: $spacer/4;
    }
    &-title {
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
        margin: 0;
    }
    .er-btn{
        position: absolute;
        transition: opacity .2s ease-out, background-color .2s ease-in, color .2s ease-in;
        opacity: 1;
        width: $spacer*1.8;
        height: $spacer*1.8;
        text-align: center;
        border: 0;
        z-index: 3;
        .fa-icon {
            vertical-align: middle;
        }
        @include themify($themes) {
            background-color: themed("backgroundColor");
            color: themed("btnColor");
        }
        &:hover {
            background-color: $color-danger;
            color: $color-white;
            transition: background-color .4s ease-out, color .4s ease-out;
        }
        &-prev, &-next {
            top: calc(50% - 1rem );
            box-shadow: 0 4px 16px rgba(0,0,0,.16);
        }
        &-prev {
            left: -1px;
        }
        &-next {
            right: -1px;
        }
        &[disabled], &.slick-disabled {
            transition: opacity .2s ease-out;
            opacity: .5;
            cursor: not-allowed;
            &:hover {
                @include themify($themes) {
                    background-color: themed("backgroundColor");
                    color: themed("btnColor");
                }
            }
        }
    }
    &-logo {
        &-image {
            max-width: 100%;
            height: 1rem;
        }
    }
    &.landscape {
        .slick-slider {
            width: 100%;
        }
        .slick-slide {
            height: auto;
            width: auto;
            margin-right: $spacer/2;
            min-width: 0;
            div {
                height: 100%;
                width: auto;
                min-width: 0;
                a {
                    height: 100%;
                    width: auto;
                    min-width: 0;
                    img {
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        min-width: 0;
                    }
                }
            }
        }
        .slick-track {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
            height: 100%;
        }
        .slick-list {
            height: 100%;
        }
    }
    &.portrait {
        .er-widget-main {
            &:before {
                .theme-light & {
                    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%,rgba(240,240,240,0) 100%);
                }
                .theme-dark & {
                    background: linear-gradient(to bottom, rgba(33,33,33,1) 0%,rgba(33,33,33,0) 100%);
                }
            }
            &:after {
                .theme-light & {
                    background: linear-gradient(to bottom, rgba(240,240,240,0) 0%,rgba(240,240,240,1) 100%);
                }
                .theme-dark & {
                    background: linear-gradient(to top, rgba(33,33,33,1) 0%,rgba(33,33,33,0) 100%);
                }
            }
        }
        .slick-slide {
            margin-left: $spacer/2;
            margin-right: $spacer/2;
        }
    }
    /*
    ** Small rectangle
    */
    .wsize200x200 & {
        &-backlink {
            font-size: .8rem;
        }
    }
    /*
    ** Vertical
    */
    .wsize120x600 &, .wsize160x600 &, .wsize300x600 & {
        .er-btn {
            &-prev, &-next {
                svg {
                    transform: rotate(90deg);
                }
            }
        }
        &-main {
            position: relative;
            &:before, &:after {
                content: "";
                width: 100%;
                height: $spacer/2;
                position: absolute;
                display: block;
                z-index: 3;
            }
            &:before {
                top: 0;
                left: 0;
            }
            &:after {
                bottom: 0;
                left: 0;
            }
        }
    }
    .wsize300x600 & {
        .slick-slide {
            div {
                a {
                    img {
                        width: 95%;
                        padding-left: 5%;
                    }
                    &:first-child {
                        img {
                            padding-left: 0;
                            padding-right: 5%;
                        }
                    }
                }
            }
        }
    }
    /*
    ** Horizontal & Mobile
    */
    .wsize468x60 &, .wsize970x90 &, .wsize320x50 &, .wsize320x100 & {
        &-top {
            display: none;
        }
        &-bottom {
            padding-bottom: 0;
            padding-top: $spacer/4;
        }
        &-main {
            .slick-track {
                margin-top: $spacer/4;
            }
        }
        &-logo {
            line-height: 0;
            img {
                height: .4rem;
            }
        }
    }
}

.slick-slide {
    img {
        height: auto;
        max-width: 100%;
    }
}
