<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}eReolen widget!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script id="CookieConsent" src="https://policy.app.cookieinformation.com/uc.js" data-culture="DA" type="text/javascript"></script>
    </head>
    <body>
        <div class="container-fluid dummy-header">
            <div class="row" style="height: 60px;">
                <div class="col-12 text-center">
                    {% set logo = {
                    url: context.data.logo|default('https://ereolen.dk/sites/all/themes/orwell/svg/eReolen_Logo.svg'),
                    label: context.data.label|default('eReolen'),
                    }
                    %}
                    <img src="{{ logo.url }}" alt="{{ logo.label }}" class="img-fluid" style="max-height: 40px; margin-top: 10px;">
                </div>
            </div>
            <div class="row" style="height: 20px; background-color: #b81b40;">
                <div class="col-12">
                </div>
            </div>
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
